{block content}
<h1>{$gRow->name}</h1>
<p class="lead">správce: {$gRow->user->name} , stav: {$presenter->getGameStatusText($gRow->status)}</p>
{if $gObj->isAbleJoin($user->id)}
	<a href="{plink joinGame!,'game_id'=>$gRow->id}">Připojit se ke hře</a><br>
{/if}
{if $gObj->isAbleLeave($user->id)}
	<a href="{plink leaveGame!,'game_id'=>$gRow->id}">Odpojit se od hry</a><br>
{/if}
{if $gObj->isAbleStart($user->id)}
	<a href="{plink startGame!,'game_id'=>$gRow->id}">Spustit hru</a><br>
{/if}

{foreach $gObj->getPlayers() as $p}
	<br>{$p->name} (#{$p->user_id}){if $gObj->isCurrentPlayer($p->user_id)} <span class="glyphicon glyphicon-bell"></span>{/if}
{/foreach}

{if $gObj->isCurrentPlayer($user->id)}<br><a href="{plink stepGame!,'game_id'=>$gRow->id}">DO a STEP</a>{/if}
{/block}

{block scripts}
{include parent}
{/block}


{block head}
{/block}