{block content}
<br><br>
<table class="table table-hover">
	<tr>
		<th>Jméno hry</th>
		<th></th>
		<th>Mapa</th>
		<th>Počet hráčů</th>
		<th>Správce</th>
	</tr>
	{foreach $gameList as $gObj}
		{var $gRow = $gObj->getData()}
		<tr>
			<td>
				<a href="{plink Game:,'game_id'=>$gRow->id}">
					{if $gObj->isCurrentPlayer($user->id)}<span class="glyphicon glyphicon-bell"></span>{/if}
					{$gRow->name}
				</a>
			</td>
			<td>
				{if $gObj->isAbleJoin($user->id)}
					<a href="{plink joinGame!,'game_id'=>$gRow->id}"><span class="glyphicon glyphicon-plus-sign"></span></a>
					{/if}
					{if $gObj->isAbleLeave($user->id)}
					<a href="{plink leaveGame!,'game_id'=>$gRow->id}"><span class="glyphicon glyphicon-minus-sign"></span></a>
					{/if}
			</td>
			<td>{$gRow->map->name}</td>
			<td title="{foreach $gObj->getPlayers() as $p}{$p->name}{sep}{chr(10)}{/sep}{/foreach}">{$gObj->getPlayerCount()} / {$gRow->size}</td>
			<td>{$gRow->user->name}</td>
		</tr>
	{/foreach}
	<tr>
		<td><br><a href="{plink Game:new}">Založit novou hru</a></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>
{/block}


{block head}
<style>
	table a{ display:block; margin:-7px;padding:7px; }
</style>
{/block}