{**
 * map template
 *
 * @param array $regions pole s udaji o regionu a jeho souradnicich region(id,name,owner,coord[](x,y))
 * @param array $size velikost mapy
 *
*}
{block content}
<svg width="{$size['x']}" height="{$size['y']}">
{foreach $regions as $region}
	<polygon points="{foreach $region['coord'] as $coord}{$coord['x']*20+50},{$coord['y']*20+50}{sep} {/sep}{/foreach}" data-owner="{$region['owner']}"></polygon>
{/foreach}
</svg>

{block head}
<style>
	polygon{
		fill:light-gray;
		stroke:white;
		stroke-width:2;
	}
	polygon[data-owner="1"]{
		fill:blue;
	}
	polygon[data-owner="2"]{
		fill:green;
	}
	polygon[data-owner="3"]{
		fill:red;
	}
	polygon[data-owner="4"]{
		fill:purple;
	}
	polygon[data-owner="5"]{
		fill:yellow;
		
	}
</style>
{/block}