{block content}

<div class="col-sm-4 col-sm-offset-4">
	<h1 class="text-center" n:block=title>Nová hra</h1>
{control gamenewForm}
</div>
{* or use {include '../components/form.latte', form => signInForm} *}
