{block content}

{* template :-)
<b></b><i>()</i><br>
*}
<b>2013-03-14 20:50</b> hotove registrace a prihlasovani uzivatelu, zakladani her, joinovani her<i>(vecernik)</i><br>
<b>2013-03-14 20:46</b> takhle bych mel asi zapisovat novinky... <i>(vecernik)</i><br>

{/block}

{block scripts}
{include parent}
{/block}


{block head}
{/block}
