{**
 * My Application layout template.
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
*}
<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="{$basePath}/favicon.ico">

		<title>DR - {block title|striptags}&COPY; Rouming community{/block}</title>
		<link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet">
		<link href="{$basePath}/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="{$basePath}/css/style.css" rel="stylesheet">
		{block head}{/block}
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>

	<body role="document">
		<div class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<span class="navbar-brand" href="#">DiceRisk</span>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="{ifCurrent Game:listAll}active{/ifCurrent}"><a href="{plink Game:listAll}">Seznam všech her</a></li>
						<li class="{ifCurrent Game:listMy}active{/ifCurrent}"><a href="{plink Game:listMy}">Moje hry <span class="badge"><span class="glyphicon glyphicon-bell"></span></span></a></li>
							{*<li><a href="#about">About</a></li>
							<li><a href="#contact">Contact</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="#">Action</a></li>
									<li><a href="#">Another action</a></li>
									<li><a href="#">Something else here</a></li>
									<li class="divider"></li>
									<li class="dropdown-header">Nav header</li>
									<li><a href="#">Separated link</a></li>
									<li><a href="#">One more separated link</a></li>
								</ul>
							</li>*}
					</ul>
					<p class="navbar-text navbar-right">
						{if $user->isLoggedIn()}
							Přihlášen {$user->getIdentity()->name} (#{$user->id}) | <a href="{plink User:logout}" class="navbar-link">Odhlásit</a>
						{else}
							<a href="{plink User:login}" class="navbar-link">Přihlásit se</a>	/ <a href="{plink User:register}" class="navbar-link">Založit nový účet</a>
						{/if}
					</p>
				 </div><!--/.nav-collapse -->
			</div>
		</div>

		<div class="container" role="main">
			<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
				{$flash->message}
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			</div>

			{include content}
		</div> <!-- /container -->
		{block scripts}
		<script src="{$basePath}/js/jquery.js"></script>
		{*<script src="{$basePath}/js/netteForms.js"></script>*}
		<script src="{$basePath}/js/main.js"></script>
		<script src="{$basePath}/js/bootstrap.min.js"></script>
		{/block}
	</body>
</html>